<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Detail information</title>
</head>
<body>
    <div class="container" th:object="${book}">
        <div class="row">
            <h1 class="display-3">Detail information</h1>
            <hr>
        </div>
        <div class="row">
            <small class="text-info my-3">
                <a th:href="@{/books}">Back</a>
            </small>
        </div>
        <div class = "row">
            <div>
                <p><b>Name: </b><span th:text = "${book.name}"/></p>
                <p><b>Author: </b><span th:text = "${book.author}"/></p>
                <p><b>Year: </b><span th:text = "${book.year}"/></p>
                <p><b>Your notes about this book:</b></p>
                <a class="btn btn-info btn-lg mx-2" th:href="@{/books/book/{id}/notes (id = ${book.id})}">Notes</a>
            </div>
            <div th:object="${information}">
                <p><b>Description: </b><span th:text = "${information.description}"></span></p>
                <p><img th:src="${information.image}"></p>
            </div>
        </div>
    </div>
</body>
</html>