<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
    <table border="1">
        <tr th:each="book: ${books}">
            <th th:text="${book.getName()}"/>
            <th th:text="${book.getAuthor()}"/>
            <th th:text="${book.getYear()}"/>
            <th>
                <a th:href="@{/books/{id} (id = ${book.id})}">
                    Delete
                </a>
            </th>
            <th>
                <a th:href="@{/books/update/{id} (id = ${book.id})}">
                    Update
                </a>
            </th>
            <th>
                <a th:href="@{/books/book/{id} (id = ${book.id})}">
                    Detail
                </a>
            </th>
        </tr>
    </table>
    <form  action="#" th:action="@{/books/add}" method="post" th:object="${book}">
        <input type="text" th:field="*{name}"/>
        <input type="text" th:field="*{author}"/>
        <input type="text" th:field="*{year}"/>
        <button type="submit"> Add </button>
    </form>

</body>
</html>