<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Detail information</title>
</head>
<body>
    <div class="container" th:object="${book}">
        <div class="row">
            <h1 class="display-3">Detail information</h1>
            <hr>
        </div>
        <div class = "row">
            <div>
                <p><b>Name: </b><span th:text = "${book.name}"/></p>
                <p><b>Author: </b><span th:text = "${book.author}"/></p>
                <p><b>Year: </b><span th:text = "${book.year}"/></p>
            </div>
            <div th:object="${information}">
                <p><b>Your comment: </b><span th:text = "${information.comment}"></span></p>
                <p><b>Description: </b><span th:text = "${information.description}"></span></p>
                <p><img th:src="${information.image}"></p>
            </div>
        </div>
        <div class = "row">
            <form  align="center" class="form-inline my-4" action="#" th:action="@{/books/book/{id} (id= ${book.id})}" method="post">
                <label>Your comment to this book: </label>
                <input type="text" th:name="comment"/>
                <button type="submit" class="btn btn-warning btn-sm mx-2">Add comment</button>
            </form>
        </div>
    </div>
</body>
</html>