<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-11">
                <h2 class="display-3">List of books</h2>
            </div>
            <div class="col">
                <form name="logoutForm" th:action="@{/logout}" method="post" >
                    <input class="btn btn-info btn-sm pl-5 mt-5" type="submit" value="Sign Out"/>
                </form>
            </div>
            <hr>
        </div>
        <button class="btn btn-warning mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Add a book
        </button>
        <button class="btn btn-warning mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiltering" aria-expanded="false" aria-controls="collapseExample">
            Filtering
        </button>
        <hr>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form  align="center" class="form-inline my-4" action="#" th:action="@{/books}" method="post" th:object="${book}">
                    <input type="hidden" th:field="*{id}"/>
                    <label>Title:
                        <input type="text" th:field="*{name}" placeholder="Title"/>
                        <small class="form-text text-muted" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Title error</small>
                    </label>
                    <label>Author:
                        <input type="text" th:field="*{author}" placeholder="Author(s) name"/>
                        <small class="form-text text-muted" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</small>
                    </label>

                    <label>Year:
                        <input type="text" th:field="*{year}" placeholder="Year of publication"/>
                        <small class="form-text text-muted" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</small>
                    </label>

                    <button type="submit" class="btn btn-warning btn-sm mx-2"> Add </button>
                </form>
            </div>
        </div>
        <div class="collapse" id="collapseFiltering">
            <div class="card card-body">
                <form  align="center" class="form-inline my-4" action="#" th:action="@{/books}" method="get" th:object="${searchCriteria}">
                    <label>Title:
                        <input type="text" th:field="*{title}" placeholder="Title"/>
                    </label>
                    <label>Author:
                        <input type="text" th:field="*{author}" placeholder="Author"/>
                    </label>
                    <label>From:
                        <input type="text" th:field="*{from}" placeholder="Year"/>
                    </label>
                    <label>To:
                        <input type="text" th:field="*{to}" placeholder="Year"/>
                    </label>
                    <button type="submit" class="btn btn-warning btn-sm mx-2"> Search </button>
                </form>
            </div>
        </div>
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end pagination-sm">
                    <li class="page-item" th:each="size: ${size}">
                        <a class="page-link" th:href="@{'/books?page=' + ${books.getNumber} + '&size=' + ${size}}" th:text="${size}"></a>
                    </li>
                </ul>
                <ul class="pagination justify-content-end">
                    <li class="page-item" th:if="${books.getNumber} > 0">
                        <a class="page-link" th:href="@{'/books?page=' + ${books.getNumber - 1} + '&size=' + ${books.getSize}}">Previous</a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(0, books.getTotalPages() - 1)}">
                        <a class="page-link" th:href="@{'/books?page=' + ${page} + '&size=' + ${books.getSize}}" th:text="${page + 1}"></a>
                    </li>
                    <li class="page-item" th:if="${books.getNumber} < ${books.getTotalPages() - 1}">
                        <a class="page-link" th:href="@{'/books?page=' + ${books.getNumber + 1} + '&size=' + ${books.getSize}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <table class="table table-bordered table striped">
                <thead class="table-dark">
                    <tr>
                        <th>
                            <a class="text-white">Title</a>
                        </th>
                        <th>
                            <a class="text-white">Author(s)</a>
                        </th>
                        <th>
                            <a class="text-white">Year of publication</a>
                        </th>
                        <th>Functions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-warning" th:each="book: ${books}">
                        <td th:text="${book.getName()}"/>
                        <td th:text="${book.getAuthor()}"/>
                        <td th:text="${book.getYear()}"/>
                        <td>
                            <a type="submit" class="btn btn-danger btn-sm mx-2" onclick="if (!(confirm('Are you sure want to delete this book?'))) return false" th:href="@{/books/{id} (id = ${book.id})}">Delete</a>
                            <a type="submit" class="btn btn-warning btn-sm mx-2" th:href="@{/books/update/{id} (id = ${book.id})}">Update</a>
                            <a type="submit" class="btn btn-info btn-sm mx-2" th:href="@{/books/book/{id} (id = ${book.id})}">Details</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end pagination-sm">
                    <li class="page-item" th:each="size: ${size}">
                        <a class="page-link" th:href="@{'/books?page=' + ${books.getNumber} + '&size=' + ${size}}" th:text="${size}"></a>
                    </li>
                </ul>
                <ul class="pagination justify-content-end">
                    <li class="page-item" th:if="${books.getNumber} > 0">
                        <a class="page-link" th:href="@{'/books?page=' + ${books.getNumber - 1}+ '&size=' + ${books.getSize}}">Previous</a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(0, books.getTotalPages() - 1)}">
                        <a class="page-link" th:href="@{'/books?page=' + ${page} + '&size=' + ${books.getSize}}" th:text="${page + 1}"></a>
                    </li>
                    <li class="page-item" th:if="${books.getNumber} < ${books.getTotalPages() - 1}">
                        <a class="page-link" th:href="@{'/books?page=' + ${books.getNumber + 1}+ '&size=' + ${books.getSize}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>